<div>
  <% if current_user.admin? %>
    <%= link_to "New Region", new_region_path %>
  <% end %>
</div>

<div>
  <%= link_to "List Regions", regions_path %>
</div>

<%= form_for @post do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
  	<%= form.label :content %>
  	<%= form.text_area :content %>
  </div>
  <div>
  	<%= form.submit "Submit Post" %>
  </div>
<% end %>

<div>
	<%= render(current_user.posts) %>
</div>

